.about {

  &__map {
    text-align: center;
    margin: 3em 0;
  }

  &__copy {
    &__headline {
      border-bottom: 1px solid $black--100;
    }
  }

  &__content {
    background-color: $blue--300;
    padding: 5em 0 7em;
  }

  &__quote {
    margin-top: 1.5em;
    font-size: 1.1em;
  }
}
