.about {

  &__map {
    text-align: center;
    margin: 3em 0;
  }

  &__copy {
  }

  &__content {
    background-color: $blue--300;
    padding-top: 3em;
  }

  &__quote {
    margin-top: 1.5em;
    font-size: 1.1em;
  }
}
