.site-header {
  background-color: $yellow--100;
  min-height: 80px;
  position: relative;

  &__title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    color: $black--100;

    img {
      width: 125px;
      padding-top: 15px;

    }
  }

  &__nav {
    float: right;
    font-size: 1.875em;
    padding-top: 25px;
    color: $blue--100;
  }

  &__link {
    color: $blue--100;

    &:hover {
      color: $white--100;
    }

    &:first-of-type {
      margin-right: .5em;
    }

    &:last-of-type {
      margin-left: .5em;
    }
  }
}
