.marquee {
  position: relative;
  text-align: center;
  height: 260px;
  max-height: 260px;

  @media screen and (max-width: 45em) {
    height: 300px;
    max-height: 300px;
  }

  &__content {
    height: 260px;
    width: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $blue--200;

    @media screen and (max-width: 45em) {
      height: 300px;
    }
  }

  &__title {
    font-family: "Bold";
    margin-bottom: 2px;
    font-size: 3.125em;
  }

  &__subtitle {
    margin: 2px 0;
    font-size: 1.875em;
    font-family: "Light";
  }

  &__text {
    margin: (12/16) + em 0;
  }

  &__cta {
    border: 2px solid $teal--100;
    font-family: "Light";
    color: $teal--100;
    font-size: 1.625em;
    padding: .3em 1em .075em;
    margin-top: .25em;
    display: inline-block;

    &:hover {
      background-color: $teal--100;
      color: $white--100;
      font-size: "Metric";
      cursor: pointer;

    }
  }
}
