.posts {
  padding: 4em 0 2em;
  background-color: $blue--300;

  .post {
    padding-left: 2em;
    position: relative;
    width: 85%;

    &__thumb {
      max-width: 100%;
      widows: 100%;
      display: block;
      margin: 1em 0;
    }

    &__content {
      margin-top: 1em;
      margin-bottom: 4em;
    }

    &__label {
      position: absolute;
      width: 62px;
      height: 62px;
      top: -1em;
      left: .5em;
      color: $black--100;
      box-shadow: 0px 1px 17px 0px #bcbcbd;

      &__entry {
        display: inline;
        font-size: 1.5em;
        position: absolute;
        left: -2.3em;
        top: 35%;

        @media screen and (max-width: 45em) {
          display: none;
        }
      }

      &__num {
        display: inline;
        font-size: 1.5em;
        position: absolute;
        top: 35%;
      }
    }

    &__title {
      border-bottom: 1px solid $black--100;
      font-size: 1.625em;

      p{
        display: inline;
      }
    }

    &__icon {
      height: 26px;
      display: inline;
      float: right;
    }

    &__subtitle {
      padding: .75em 0;
      font-size: 1.5em;
      font-family: "Light";
    }

    &__text {
      font-weight: 300;
      font-style: italic;
      font-family: "Light";
      font-size: 1.25em;
    }

    p {
      margin-bottom: 0;
      color: $black--100;
    }
  }
}

.yellow {
  background-color: $yellow--200;
}

.pink {
  background-color: $pink--100;
}

.blue {
  background-color: $blue--400;
}

.orange {
  background-color: $orange--100;
}

.purple {
  background-color: $purple--100;
}

.teal {
  background-color: $teal--100;
}
