.posts {
  padding-top: 4em;
  background-color: $blue--300;

  .post {
    &__thumb {
      max-width: 100%;
      widows: 100%;
      display: block;
      margin: 1em 0;
    }

    &__content {
      margin-top: 1em;
      margin-bottom: 1.5em;
    }

    &__title {
      font-weight: 600;
      border-bottom: 1px solid $black--100;
    }

    &__text {
      font-weight: 300;
      font-style: italic;
    }

    p {
      margin-bottom: 0;
      color: $black--100;
    }
  }
}
