.submit {
  background-color: $blue--300;
  padding: 5em 0 7em;

  &__form {

    label {
      color: $blue--200;
      font-size: 1.625em;
      display: block;
    }

    input, textarea {
      outline: none;
      width: 100%;
      display: block;
      padding: .5em;
      font-size: 1.25em;
      resize: none;
      border: none;

      &::placeholder {
        opacity: .5;
        font-style: italic;
        font-size: .75em;
      }
    }

    input[type="file"] {
      font-size: .8em;
    }

    &__button {
      text-align: center;

      button {
        font-family: "Metric";
        background-color: $blue--200;
        color: $white--100;
        height: 300px;
        width: 300px;
        border: none;
        border-radius: 50%;
        outline: none;
        font-size: 3em;

        &:hover {
          box-shadow: 9px 9px 0px 0px $yellow--100;
        }
      }
    }

  }

  &__email {
    padding-top: 3em;
    font-size: 1.2em;

    a {
      color: $blue--200;
    }
  }
}
