$black--100: #3a3a3a;
$blue--100: #5596ee;
$blue--200: #61a1f8;
$blue--300: #def2fa;
$blue--400: #9fd7ec;
$orange--100: #fdbf88;
$pink--100: #f8a3c5;
$purple--100: #d7a2f0;
$teal--100: #a2f0d0;
$white--100: #fff;
$yellow--100: #ffdf7e;
$yellow--200: #fde18d;
$shadow: #b889d8;
